.header {
  font-size: 18px;
}

.spinnerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: .3;
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner {
    width: 10rem;
    height: 10rem;
  }
}
